@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'BlauerNue', Arial, sans-serif; 
}

@font-face {
  font-family: 'BlauerNue';
  src: url('/fonts/BlauerNue-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'BlauerNue';
  src: url('/fonts/BlauerNue-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'BlauerNue';
  src: url('/fonts/BlauerNue-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}